.produtos {
    display:flex; 
    gap: 30px;
    justify-content: center;
    padding: 20px;
}

.produto {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
}

.produto button {
    width: 50%;
    background-color: green;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
}